<div class="row">
  <div class="col">
    <form role="form" (ngSubmit)="onSubmit()">
      <h2>Enter New Movie</h2>

      <div class="form-group">
        <label for="movieName">Name</label>
        <input
          type="text"
          [(ngModel)]="movie.movieName"
          name="movieName"
          id="movieName"
          class="form-control"
          required
        />
      </div>

      <div class="form-group">
        <label for="directorName">Director Name</label>
        <input
          type="text"
          [(ngModel)]="movie.directorName"
          name="directorName"
          id="directorName"
          class="form-control"
          required
        />
      </div>

      <div class="form-group">
        <label for="releaseYear">Release Year</label>
        <input
          type="text"
          [(ngModel)]="movie.releaseYear"
          name="releaseYear"
          id="releaseYear"
          class="form-control"
          required
        />
      </div>

      <button type="submit" class="btn btn-outline-success">
        Create
      </button>
    </form>
  </div>
</div>
